Source: pxf
Maintainer: Greengage <greengage@greengagedb.org>
Section: database
Build-Depends: debhelper (>= 13),
	dh-python,
	lsb-release

Package: pxf-fdw
Architecture: any
Depends: ${shlibs:Depends}, greengage
Description: PXF FDW extension

Package: pxf-cli
Architecture: any
Depends: ${shlibs:Depends}, pxf-server
Description: PXF CLI tools

Package: pxf-server
Architecture: any
Depends: ${shlibs:Depends}
Description: PXF Server
